body {
  font-size: 13px;
}

a:link    {color: #000;}
a:visited {color: #000;}
a:active  {color: #000;}
a:hover   {color: #ccc;}

#section {
  position: absolute;
  left:400px;
  margin-left: -200px;
  width: 800px;
  min-height: 100%;
  height: auto;
  padding: 0 10px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
*html #section {
  height: 100%;
}
  #header {
    width: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    text-align: right;
    color: #ababab;
  }
    #header > h1 {
      font-family: "ＭＳ 明朝","MS Mincho";
      font-size: 300%;
      letter-spacing: 8px;
    }
    #header > p {
      letter-spacing: 1em;
    }

  #nav {
    width: auto;
    margin: 2em;
    text-align: right;
    font-size: 93%;
    letter-spacing: 0.5em;
  }
  #nav > ul > li {
    display: inline;
    margin: 10px;
  }
  #content {
    position: relative;
    width: 760px;
    margin-bottom: 1em;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
    #content > h2 {
      margin-bottom: 1.5em;
      padding-left: 1em;
      line-height: 2;
      font-family: "MS PMincho", "Hiragino Mincho ProN";
      font-size: 116%;
      font-weight: normal;
      letter-spacing: 0.5em;
      border-left: 0.5em solid #ababab;
    }
    #content > article {
      margin-top: 3em;
      margin-bottom: 2em;
      padding-left: 1.5em;
      letter-spacing: 2px;
      line-height: 1.5;
    }
      #content p {
        line-height: 2;
      }
      #content > article > h3 {
        margin-left: -1.5em;
        margin-bottom: 1.5em;
        padding-left: 1em;
        line-height: 2;
        font-size: 116%;
        font-weight: normal;
        letter-spacing: 0.5em;
      }
      #content > article > dl > dt {
        font-weight: bold;
        margin-top: 1em;
      }
      #content > article > dl > dt:first-child {
        margin-top: -1em ;
      }

      #content > article > dl > dd {
        padding-left: 1em;
      }

  #pager {
    width: 780px;
    text-align: right;
    font-size: 85%;
    line-height: 2;
    letter-spacing: 0.3em;
    padding-bottom: 4em;
  }
  /* ----- FOOTER -----  */
  #footer {
    position: absolute;
    left: 0; bottom: 0;
    margin-top: 3em;
    width: 100%;
    height: auto;
    }
    #footer > p {
      width: 100%;
      height: 3em;
      line-height: 3em;
      text-align: center;
      font-size: 85%;
      letter-spacing: 0.5em;
    }
