:cascade layout;
:around page_title -> { 'Cricle Information' }
:around content -> {
  <p>迷い家について語ってみようという試み</p>

  <article>
    <h3>What we do</h3>
    <p>
    絵を書きたければ書く。<br />
    小説を書きたければ書く。<br />
    ゲームを作りたければ作る。<br />
    <br/>
    自分の作るものが、何か意味のあるものでありたいと思ってる。<br />
    あと、エキサイティングなことをしたいと思ってる。<br />
    でもノベルゲームはエキサイティングを超えていたので、当分やらなくていいかなーと思った。<br />
    <br />
    自分たちの限界を踏まえて、とりあえず小説でも書いてみようかーというところで始まったこのサークル。<br />
    頑張って書きます。<br />
    <br/>
    <br/>
    やってることがバラバラ？ ほ、放任主義って言ってほしいなぁ？！<br />
    </p>
  </article>

  <article>
    <h3>Disclaimer</h3>
    <p>
    免責事項とか。<br/>
    <br/>
    本サイトのコンテンツはサークル迷い家に帰属します。<br/>
    勝手に使わないで下さいまし。<br/>
    ていうか誰も得しないと思います。<br/>
    <br/>
    僕たちの創作物はすべて架空のものであり、現実の人物団体その他いろいろとは一切の関係もありません。<br/>
    </p>
  </article>

:}

