:cascade layout;
:around page_title -> { 'Member' }
:around content -> {
  <p>関係者とか</p>

  <article>
    <h3>主要メンバー</h3>

    <dl>
      <dt>aji</dt>
      <dd>
      説明しよう！<br/>
      ajiとは真鯵、ムロアジなどの魚類の鯵から取ったものである。<br/>
      本人いわく、「どちらかというと真鯵から取ったかな。」だそうです。(本人談)<br/>
      <p style="margin: 10px;">
        涼：代表はキミです。<br/>
        aji：それ代表の仕事じゃないからなｗｗｗ<br/>
      </p>
      </dd>
      <dt>水月 涼</dt>
      <dd>
      その他雑用。真面目に言うと文章書いてます。
      </dd>
      <dd><a href="http://twitter.com/mizuki_r/" target="_blank">Twitter</a></dd>
    </dl>

  </article>
:}

